:root{
    /* Colors */
    --main-orange: #FF5C01;
    --secondary-yellow:#F0BC03;
    --soft-black: rgba(30, 28, 28, 0.9);
    --black: #000;
    --just-white: #ffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'League Spartan', sans-serif;
    background-color: var(--black);
}
.body {
    max-width: 100vw;
}
.inactive{
    display: none;
}
main{
    background-image: url('./assets/img/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-button {
    background-color: var(--main-orange);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    width: 110px;
    height: 30px;
    text-decoration: none;
    font-weight: bold;
    color: var(--just-white);
    border-radius: 12px;
    margin-right: 1.2rem;
    transition: .2s;
}
.main-button:hover{
    opacity: 85%;
}
/* HEADER-SECTION---------- */
header{
    height: 80px;
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center;
    justify-content: space-between; */
    background: #000000;
    position: fixed;
    padding-bottom: 15px;
    z-index: 1000;
}
.header-number{
    margin: 0;
    width: 100%;
    height: 15px;
    background: rgb(17, 16, 16);
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-left ul {
    display: none;
}
.main-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header-left{
    display: flex;
    height: 100%;
    align-items: center;
}

.header-left a img{
    width: 60px;
}
.header-left button{
    background: none;
    border: none;
}
.header-left button img{
    width: 16px;
    cursor: pointer;
}

.mobile-menu{
    width: 100%;
    background: var(--black);
    height: 25vh;
    opacity: 90%;
    text-align: center;
}
.mobile-menu ul{
    height: 100%;
    display: grid;
    place-content: center;
    gap: 20px;
}
.mobile-menu ul li{
    list-style: none;
}
.mobile-menu ul li a{
    text-decoration: none;
    color: var(--just-white);
    font-size: 16px;
    font-weight: 600;
    
}
/* HERO-SECTION---------- */
main{
    width: 100%;
}
.hero-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 40px; */
    background-image: linear-gradient(rgba(5, 7, 12, 0.55), rgba(5, 7, 12, 0.55)),
    url('./assets/img/taquiza/tacosGuisado.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius:10%;
    border-bottom-right-radius:10%;
}
.hero-section h1{
    font-size: 3.8rem;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 2px 2px var(--soft-black);
}

.hero-section img{
    top: 280px;
    width: 300px;

}

/* PAQUETES-SECTION */

.paquetes-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-left: 30px;
}
.paquetes-section-card {
    display: block;
    height: 90%;
    margin-top: 20px;
    width: 320px;
    padding: 25px;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--soft-black);
    border-radius: 20px;
    text-align: center;
    transition: .5s;
    /* overflow: scroll; */
}
.paquetes-section-card:hover{
    filter:contrast(90%);
    border: 2px solid var(--secondary-yellow);
}
.paquetes-section_taquiza{
    background: linear-gradient(rgba(5, 7, 12, 0.95), rgba(5, 7, 12, 0.95)),
    url('./assets/img/taquiza/cazuelaTaquiza.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paquetes-section_taquiza h2{
    font-size: 3.6rem;
    color: var(--just-white);
    text-shadow: 2px 2px var(--soft-black);
}
.paquetes-section_taquiza p:nth-child(2){
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffff;
}
.paquetes-section_taquiza p:nth-child(3){
    color: var(--secondary-yellow);
    font-size: 3.6rem;
    font-weight: bold;
    text-shadow: 2px 2px var(--soft-black);
}
.paquetes-section_taquiza ul{
    color: var(--just-white);
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 24px;
}
.paquetes-section_taquiza p:nth-child(5){
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 0.075em;    
    color: var(--just-white);
}
.paquetes-section_taquiza p:nth-child(6){
    font-weight: 700;
    font-size: 36px;
    line-height: 33px;
    letter-spacing: 0.075em;
    color: var(--secondary-yellow);
    text-shadow: 2px 2px var(--soft-black);
}
.paquetes-section_taquiza p:nth-child(7){
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--just-white);
}

/* GUISADOS-CARDS */

.guisados-section{
    height: 110vh;
    width: 100%;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position: relative;
}
.guisados-section h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
}
.guisados-section__cards-container{
    display: flex;
    gap: 40px;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
    height: 300px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity; 

}
.guisados-card{
    width: 215px;
    scroll-snap-align: center;
}
.guisados-card img{
    width: 215px;
    border-radius: 20px;
    border: solid 1.5px var(--main-orange);
}
#lista-button-taquiza {
    width: 250px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.lista-guisados{
   /* height: 90vh; 
   width: 70vw; */
   position: absolute;
   align-self: center;
   justify-self: center;
   text-align: center;
   top: 250px;
}
.lista-guisados picture{
    display: flex;
    flex-direction: column;
}
.lista-guisados picture:nth-child(1){
    width: 350px;
}

.lista-guisados .icon-close{
    width: 24px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.icon-close{
    cursor: pointer;
}
/* QUIENES SOMOS */

.who-section{
    width: 100%;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    height: 110vh;
    color: var(--just-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url('./assets/img/taquiza/cazuelaTaquiza2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.who-section h2{
    font-size: 3.6rem;
    text-align: center;
}
.who-section img{
    width:300px;
}
.who-section p{
    font-size: 1.6rem;
    text-align: center;
    margin-top: 16px;
}
.description{
    width: 300px;
    /* padding-bottom: 200px; */
}

/* FOOTER */

footer{
    border-top: 1px solid var(--main-orange);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 160px;
    color: var(--just-white);
    text-align: center;
    width: 100%;
}

footer img{
    height: 80px;
 
}
.social-logo{
    margin: 4px;
}
.social-logo img{
    width: 23px;
    height: 23px;
}


@media (min-width: 800px){
    body {
        max-width: 100vw;
    }
    .main-header {
        padding: 0 15px;
    }
    .main-header button{
        display: none;
    }

    .header-left ul{
        display: flex;
        gap: 40px;
        margin-left: 40px;
    }
    .header-left ul li{
        font-size: 20px;
        list-style: none;
    }
    .header-left ul li a{
        color: var(--just-white);
        text-decoration: none;
        font-weight: 700;
    }
    .header-left ul li a:hover{
        color: var(--main-orange);
    }
    .main-header .main-button{
        width: 160px;
        height: 40px;
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
    .mobile-menu{
        display: none;
    }
    .hero-section h1{
        font-size: 8rem;
        margin-top: 60px;
    }
    
    .hero-section img{
        top: 280px;
        width: 500px;
    }
    
    .guisados-section__cards-container{
        height: 500px;
    }
    .guisados-card{
        width: 515px;
        scroll-snap-align: center;
    }
    .guisados-card img{
        width: 415px;
        border-radius: 20px;
        border: solid 1.5px var(--main-orange);
    }
    .lista-guisados picture:nth-child(1){
        width: 450px;
    }
    .paquetes-section-card {
        gap: 30px;
        height: 80%;
        overflow:auto;
    }
    .paquetes-section_taquiza{
        width: 500px;
    }
    .description {
        width: 500px;
    }
    .description p {
        font-size: 24px;
    }
}
